{{#each author}}
  <div class='row authorProfile'>
    <div class='col-xs-2'>
      <img class ='profPic' src= "{{this.prof_pic}}" alt="#"/>
    </div>
    <div class='col-xs-10'>
      <a href="/{{this.id}}"><h4>{{this.name}}</h4></a>
      {{this.bio}}
    </div>
  </div>
  <a href='delete/{{author.id}}'>Delete</a>
{{/each}}
  <div class='newAuthor'>
    <a href="author/new">Add Author</a>
  </div>
