<h2>{{author.name}}</h2>
<a href="/">Home</a> |
<a href="/{{author.id}}/edit">Edit this Author</a> |
<a href="/{{author.id}}/delete">Delete this Author</a>
<div>
  {{author.bio}}
</div>
<img src="{{author.prof_pic}}">
